<div class="container">
  <h1><%= link_to "提醒使用者" ,admin_cards_path%></h1>
    
    <h3><%= current_user.name %>,您好</h3>
    
    
    <h1>現在時間:    <%= Time.now.strftime("%m/%d %H:%M:%S") %></h1>
    
    
    <h3>可預約時段:</h3>
    <ul class="nav nav-pills nav-pills-center">
      
      <% @cards.each do |card|%>
      <li role = "presentation"><%= link_to card.title, card_path(card) %></li>
      <% end %>
    </ul>
   

   
    <br>
 

</div>
 

 <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
