@import "bootstrap";
@import "style";

@import 'header';
@import "footer";
@import "phone_numbers";
@import "bootstrap-slider";
@import "gritter";


.card-block {
  color: black;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

.login > .card {
  width: 22rem;
  margin: 0 auto;
  float: none;
}
