.footer{
	
  }
.footer-top{
  height: 55px;
  background-color: white;
}
.footer-bottom{
	height: 15px;
  background-color: #18A853;
}
 .footer-reserve{
  color: #333333;
  opacity: 100%;
  font-size: 14px;  
  font-face: 微軟正黑體;
  padding-top:24px;
  
}

 .footer-reserve >.p{
  float:right; }

