header {
  height: 70px;
 
  }
  

  .menu {
 
    background: #00A94F ;
    height: 5px;
    font-size: 1em;
    font-family: "MingLiU";
    margin-bottom: 14px;
  }

  .nav {
    border-bottom: 5px solid #FFFD00;
    margin-top: 14px;
  }

  .header-img{
    height: 33px;
    width: 182px;
  }





