@import "bootstrap";
@import "gritter";
@import "jquery-ui";


.tab {
  border-style: solid;
  border-color: #18A853;
  border-radius: 25px;
  margin-top: 60px;
  margin-left: 140px;
  margin-right: 140px;
  background-color: white;
  margin-bottom: 30px;
}
.title {
  text-align:center;
}




.basic{
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    font-family: 微軟正黑體, "Microsoft JhengHei", sans-serif;
    font-weight: bold;
    border-bottom: 1px dashed rgb(192, 192, 192);
}

.form-all{
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 40px;
}


#result {
  padding: 10px;
  text-align:center;
  background-color: white;
  opacity: 0.9;
  box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
  margin-bottom: 30px;
  
}


.container {
  
  margin-top: 30px;
}
.situation {
 
}


.collapse-list{
  display: inline-block; 
  width: 100%; 
  padding: 0px;
}

.collapse-list-li{
 display: block;
 margin: 10px;
 } 

.list-header{

   padding: 20px 51px 20px 20px;
   background-color: white;
   color: black;
   }  

.list-header img{
  margin-right: 10px;
  }

.list-header:hover {
  color: #18A853;
  cursor:pointer;
}
 

.list-content{

   padding: 15px;
   background-color: #ebf9de;
   display: none;
    }


.flow-item {
    border: 2px solid red;
    border-radius: 8px;
    text-align: center;
    width: 200px;
    display: inline-block;
    border-color: #11a847;
    background-color: #11a847;
    height: 50px;
    line-height: 50px;
    color: white;

}

.flow-item-1 {
    border: 2px solid red;
    border-radius: 8px;
    text-align: center;
    width: 200px;
    display: inline-block;
    border-color: #18A853;
    height: 50px;
    line-height: 50px;


}

.flow {
  text-align: center;
}


i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.icon {
  width: 50px;
}

.step {
  color: #18A853;
  display: inline-block;
  width: 200px;
  font-weight:bold;
  font-size: 20px;
}






.price-box {
    margin: 0 auto;
    background: #18A853;
  border-radius: 10px;
  padding: 20px 20px;
  width: 500px;
}

.ui-widget-content {
  border: 2px solid #bdc3c7;
  background: #e1e1e1;
  color: #222222;
  margin-top: 4px;
}

.ui-state-default, .ui-widget-content .ui-state-default{
background:transparent !important;
border:none !important;
}
.ui-slider .ui-slider-handle label{
    background: #18A853;
    border-radius: 20px;
    width:5.2em;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 10px;
  cursor: default;
  margin: 0 -50% auto !important;
  text-align: center; 
  line-height: 35px;
  color: #FFFFFF;
  font-size: 15px;
    
}

.ui-slider .ui-slider-handle .glyphicon {
  color: #FFFFFF;
  margin: 0 0px; 
  font-size: 11px;
  opacity: 0.5;
}

.ui-corner-all {
  border-radius: 20px;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -.9em;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
  border: 1px solid #f9f9f9;
  background: #3498db;
}


.ui-slider .ui-slider-handle {
  cursor: pointer;
}

.ui-slider a,
.ui-slider a:focus {
  cursor: pointer;
  outline: none;
}

.price, .lead p {
  font-weight: 600;
  font-size: 32px;
  display: inline-block;
  line-height: 60px;
}

h4.great {
  border-style: solid;
  border-color: #18A853;
  background: white;
  margin: 0 0 20px 30px;
  padding: 7px 15px;
  color: #18A853;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  display: inline-block;
  -moz-box-shadow:    2px 4px 5px 0 #ccc;
    -webkit-box-shadow: 2px 4px 5px 0 #ccc;
    box-shadow:         2px 4px 5px 0 #ccc;
}

.total {
  
  /*display: inline;
  padding: 10px 5px;*/
  position: relative;
  padding-bottom: 20px;
}


.price-slider {
  margin-top: 10px;
  margin-bottom: 70px;
  margin-left: 0px;
}

.price-slider span {
  font-weight: 200;
  display: inline-block;
  color: #7f8c8d;
  font-size: 13px;
}

.form-pricing {
  background: #ffffff;
  padding: 20px;
  border-radius: 4px;
}


.price-form {
  width: 100%;
  margin: 0px auto;
  background-color:#e6ffe6;
  

}



.form-group {
  margin-bottom: 0;
}

.form-group span.price {
  font-weight: 200;
  display: inline-block;
  color: #7f8c8d;
  font-size: 14px;
}

.help-text {
  display: block;
  margin-top: 32px;
  margin-bottom: 10px;
  color: #737373;
  position: absolute;
  /*margin-left: 20px;*/
  font-weight: 200;
  text-align: right;
  width: 188px;
}

.price-form label {
  
  font-size: 21px;
}

img.payment {
  display: block;
    margin-left: auto;
    margin-right: auto
}

.ui-slider-range-min {
  background: #2980b9;
}


/* HR */

hr.style {
  margin-top: 0;
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}



.form-result {
  text-align: center;
  width: 100%;
  border-color: red;
  margin-bottom: 10px;

}



.result-box {
  width: 100%;
  height: 100px;
  background-color: #ffffcc;
  margin:0px auto;
  opacity: 0.9;
  border-radius: 100px;

}

.varify-phone{
  margin-left: 30px;
}






.b {
  background-color:#ff651b;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-color: #ff651b;
  background: linear-gradient(to bottom, #ff9445, #f06601 80%);
  background-color: #f87d23;
  color: white;
  width: 300px;
  font-size: 15px !important;
  line-height: 38px !important;


}


.b:hover {
  background: white;
  color: #ff651b;
background-image: image-url("arrow-right.svg"); 
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -ms-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
}

 .button-img {
 background-image: image-url("arrow-right.svg"); 
 transition: all 0.3s;
 display: block; 
 
}





.button {
  display: inline-block;
  font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
  padding: .8em 1.4em;
  padding-right: 4.7em;
  background: #009ED8;
  border: none;
  color: white;
  transition: .2s;
  &:before,
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: inherit;
    padding-bottom: inherit;
    width: 2.8em;
    content: "\00a0";
    font-family: 'FontAwesome', sans-serif;
    font-size: 1.2em;
    text-align: center;
    
    transition: .2s;
    transform-origin: 50% 60%;
  }
  &:before {
    background: fadeout(#000, 90%);
  }
  &:hover {
    background: darken(#009ED8, 10%);
  }
  &:active,
  &:focus {
    background: darken(#009ED8, 30%);
    outline: none;
  }
}

.button {
  min-width: 15em;
}

.arrow {
  background: #FE5F55;
  &:hover {
    background: darken(#FE5F55, 10%);
  }
  &:active,
  &:focus {
    background: darken(#FE5F55, 30%);
  }
  &:after {
    content: "\F054";
  }
  &:hover:after {
    -webkit-animation: bounceright .3s alternate ease infinite;
    animation: bounceright .3s alternate ease infinite;
  }
}



@-webkit-keyframes bounceright {
  from { -webkit-transform: translateX(0); }
  to   { -webkit-transform: translateX(3px); }
}

@-webkit-keyframes wiggle {
  from { -webkit-transform: rotate(0deg); }
  to   { -webkit-transform: rotate(30deg); }
}

@keyframes bounceright {
  from { transform: translateX(0); }
  to   { transform: translateX(3px); }
}

@keyframes wiggle {
  from { transform: rotate(0deg); }
  to   { transform: rotate(30deg); }
}


.loan-label {
  margin-left: 20px;
}



#login {
    padding-top: 50px
}
#login .form-wrap {
    width: 30%;
    margin: 0 auto;
}
#login h1 {
    color: #1fa67b;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
#login .form-group {
    margin-bottom: 25px;
}
#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#login .checkbox.show:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}
#login .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
#login .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}
#login .btn.btn-custom {
    font-size: 14px;
  margin-bottom: 20px;
}
#login .forget {
    font-size: 13px;
  text-align: center;
  display: block;
}

/*    --------------------------------------------------
  :: Inputs & Buttons
  -------------------------------------------------- */
.form-control {
    color: #212121;
}
.btn-custom {
    color: #fff;
  background-color: #1fa67b;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}

.table4_4{
  width:100%;
  margin:50px 0px;
  border:0;
}
.table4_4 th {
  background-color:#C3E7FA;
  color:#000000
}
.table4_4,.table4_4 th,.table4_4 td {
  font-size:1.05em;
  text-align:center;
  padding:10px;
  border-collapse:collapse;
}
.table4_4 th,.table4_4 td {
  border: 1px solid #dcf1fc;
  border-width:1px 0 1px 0
}
.table4_4 tr {
  border: 1px solid #dcf1fc;
}
.table4_4 tr:nth-child(odd){
  background-color:#ebf7fd;
}
.table4_4 tr:nth-child(even){
  background-color:#fdfdfd;
}

@media ( min-width: 768px ) {
    .grid-divider {
        position: relative;
        padding: 0;
    }
    .grid-divider>[class*='col-'] {
        position: static;
    }
    .grid-divider>[class*='col-']:nth-child(n+2):before {
        content: "";
        border-left: 1px solid #DDD;
        position: absolute;
        top: 0;
        bottom: 0;
    }
    .col-padding {
        padding: 0 15px;
    }



}

.lognumber-b {
  background-color:#ff651b;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-color: #ff651b;
  background: linear-gradient(to bottom, #ff9445, #f06601 80%);
  background-color: #f87d23;
  color: white;
  width: 100%;
  font-size: 15px !important;
  line-height: 38px !important;
}


.card {
  float: left;
  width: 100%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card-text {
  font-size: 85%;
}

.container-card {
  background-color: black;
}

.card-salmon {
  color: #FFFFFF;
  background: #F32C52;
}
.button-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin: 10px;
  padding: 12px 12px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 60ms ease-in-out;
  transition: all 60ms ease-in-out;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;
  color: #fff;
  border: 0 none;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 20;
  line-height: 1.3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
  box-shadow: 2px 5px 10px rgba(22, 22, 22, 0.1);
}

.card-alge{
  color: #e7ff20;
  background: #7999a9;
}
.button-card:hover {
  -webkit-transition: all 60ms ease;
  transition: all 60ms ease;
  opacity: .85;
}
.button-card:active {
  -webkit-transition: all 60ms ease;
  transition: all 60ms ease;
  opacity: .75;
}
.button-card:focus {
  outline: 1px dotted #959595;
  outline-offset: -4px;
}
.know-all{
    margin-left:140px;
    margin-right:140px;
  }



@media screen and (max-width: 1023px) {
  .container {
    width: auto;
  }
  .title {
    width: 100%;
  }
  .flow{
    display: block;
    width: 100%;
  }
  .step {
    display: none;
    width: 32%;
  }
  .flow-item, .flow-item-1{
    display: inner-block;
    width: 100%;
  }

  .flow {
    i.down {
     transform: rotate(45deg);
     -webkit-transform: rotate(45deg);

    }
  }



  .table4_4 td {
    
    text-align: center;
    padding: 1px;
    border-collapse: collapse;
  }
  table4_4 th, .table4_4 td {
    border: 1px solid #dcf1fc;
    border-width: 1px 0 1px 0;
    font-size: 0.5em;
  }
  .h2-rwd{
    width: 100%;
    left: 0;
   
  }

  .list-header{
    display: inner-block;
    
  }


  
  
}

